.visbuild-columns {
  align-items: start;
  width: 100%;
}

.visbuild-columns--equal-heights {
  align-items: stretch;
}

@media (max-width: 768px) {
  .visbuild-columns--stack {
    display: flex !important;
    flex-direction: column;
    grid-template-columns: unset !important;
  }

  .visbuild-columns--stack.visbuild-columns--stack-right-first {
    flex-direction: column-reverse;
  }
}
